################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CollapsiblePanel/bin/x86/Debug/SDRSharp.CollapsiblePanel.dll
/CollapsiblePanel
/Common/obj/x86
/Debug
/DNR/obj/x86/Debug
/DNR/obj/x86/Release
/FrequencyEdit/obj/x86
/FrequencyManager/obj/x86
/FUNcube/obj/x86
/FUNcubeProPlus/obj/x86
/HackRF/obj/x86
/PanView/obj/x86
/Radio/obj/x86
/RTL283X/obj
/RTLSDR/obj/x86
/RTLTCP/obj/x86
/SDRIQ/obj/x86
/SDRSharp/obj/x86
/SoftRock/obj/x86
/WavRecorder/obj/x86
/FrontEnds.xml
/BandPlan.xml
/AstroSpy.exe.config
/AstroSpy.exe
/airspyhf.dll
/AirspyCalibrate.exe.config
/AirspyCalibrate.exe
/airspy.dll
/ADSBSpy.exe
/zadig.exe
/unzip.exe
/SRDLL.dll
/spyserver.exe
/spyserver.config
/SpectrumSpy.exe.config
/SpectrumSpy.exe
/shark.dll
/SDRSharp.ZoomFFT.dll
/SDRSharp.WavRecorder.dll
/SDRSharp.v12.suo
/SDRSharp.TV.dll
/SDRSharp.SoftRock.dll
/SDRSharp.SDRIQ.dll
/SDRSharp.SDRIP.dll
/SDRSharp.RTLTCP.dll
/SDRSharp.RTLSDR.dll
/SDRSharp.Radio.dll
/SDRSharp.PanView.dll
/SDRSharp.NoiseBlanker.dll
/SDRSharp.HackRF.dll
/SDRSharp.FUNcubeProPlus.dll
/SDRSharp.FUNcube.dll
/SDRSharp.FrequencyManager.dll
/SDRSharp.FrequencyEdit.dll
/SDRSharp.exe.Config
/SDRSharp.exe
/SDRSharp.DNR.dll
/SDRSharp.Diagnostics.dll
/SDRSharp.DDETracker.dll-licence.txt
/SDRSharp.DDETracker.dll
/SDRSharp.Common.dll
/SDRSharp.CollapsiblePanel.dll
/SDRSharp.BandPlan.dll
/SDRSharp.AfedriSDRNet.dll
/sdriq.dll
/rtlsdr.dll
/README.txt
/pthreadVCE2.dll
/PortAudio.dll
/Plugins.xml
/NDde.dll
/NDde-licence.txt
/msvcr100.dll
/modesparser.dll
/MagicLine.txt
/LICENSE.txt
/libusb-1.0.dll
/install-rtlsdr.bat
/httpget.exe
/hackrf.dll
/packages
/SatnogsTracker/obj/x86/Debug
/SatnogsTracker
/SDRSharp.GpredictConnector/bin/Debug
/SDRSharp.GpredictConnector/obj/Debug
/SDRSharp.SatnogsTracker/bin/Debug
/SDRSharp.SatnogsTracker/obj/Debug
/UnitTestGpredictConnector
/SDRSharp.GpredictConnector
/SDRSharp.SatnogsTracker
/.vs
