################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CollapsiblePanel/bin/x86/Debug/SDRSharp.CollapsiblePanel.dll
